<form #form="ngForm" (submit)="registerHandler(form)">
  <!-- <pre>{{form.value | json}}</pre> -->
  <div class="form-group" >
    <label for="displayName">User Name</label>
    <input [ngClass]="{'is-invalid': displayName.touched && displayName.errors?.required}" class="form-control" id=" displayName" name="displayName" #displayName="ngModel" ngModel required>
    <div class="invalid-feedback">
        This field is required!
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input [ngClass]="{'is-invalid': email.touched && (email.errors?.pattern || email.errors?.required)}" class="form-control" type="email" id="email" name="email" #email="ngModel" ngModel pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
    <div class="invalid-feedback">
        Please provide a valid email in the format: example@example.com
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input [ngClass]="{'is-invalid': password.touched && (password.errors?.pattern || password.errors?.required)}" class="form-control" type="password" id="password" name="password" #password="ngModel" ngModel pattern="(?=^.{6,24}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required>
    <div class="invalid-feedback">
      Password should be between 6 an 24 chars and have at least one number and one uppercase!
    </div>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input [ngClass]="{'is-invalid': confirmPassword.touched && (password.value !== confirmPassword.value || confirmPassword.errors?.required)}" class="form-control" type="password" id="confirmPassword" name="confirmPassword"  #confirmPassword="ngModel" ngModel required>
    <div class="invalid-feedback">
        Passwords should match! Try again
    </div>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid || password.value !== confirmPassword.value">Register</button>
  </div>
</form>
