<app-navigation></app-navigation>
<div calss="container">
    <div class="row translateY-13vh pb-5">
        <div class="col-2">
        </div>
      <div class="col-4 bg-light custom-box mr-5">
        <h1 class="text-center pb-3">Edit Trip</h1>
        <app-form [tripData]="tripData" (formDataEmitter)="formDataHandler($event)"></app-form>
      </div>
      <div class="col-4 bg-light custom-box">
          <h2 class="text-center pb-3">Preview</h2>
          <app-card [isPreview]="true"  [tripData]="tripData" [formData]="formData" (clickButtonEmitter)="(submitFormHandler($event))"></app-card>
      </div>
      <div class="col-2">
      </div>
    </div>
</div>
<app-footer></app-footer>
