.jumbotron.guest-view{
  transform: translateY(25vh);
  background-color: rgba(#333, 0.3);
  color: white;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  box-shadow: 0.1rem 0.1rem 10rem 0 rgb(245, 245, 245);
  text-align: center;
  z-index: 1;

  i {
    font-size: 4rem;
    font-weight: 100;
  }

  .btn {
    color: white;
    &:hover,
    &:focus,
    &:active {
      text-shadow: none;
    }
  }
}


