<ng-container *ngIf="isPreview; then previewCrad else mainCard">

</ng-container>

<!-- Card template preview card-->
<ng-template #previewCrad>
  <div class="card" [ngClass]="{'flex-row':fromDetails}">
      <ng-container *ngIf="formData; then withFormData else withTripData">

      </ng-container>
  </div>
</ng-template>

<!-- Card template for the edit preview -->
<ng-template #withTripData>
  <img *ngIf="!tripData || !tripData.image" src="../../../../assets/images/card-landscape.jpg" alt="Card image cap">
  <img *ngIf="tripData && tripData.image" src="{{tripData.image}}" alt="Card image cap">
  <div class="wrapper">
    <div class="card-body">
      <h5 *ngIf="tripData" class="card-title">{{tripData.destination}}</h5>
      <p *ngIf="tripData" class="card-text"><span class="font-italic">Start date:</span> {{tripData.startDate | date: 'MM/dd/yyyy'}}</p>
      <p *ngIf="tripData" class="card-text"><span class="font-italic">End date:</span> {{tripData.endDate | date: 'MM/dd/yyyy'}}</p>
      <p *ngIf="tripData && !tripData.private" class="card-text"><span class="font-weight-bold">Status:</span> Public</p>
      <p *ngIf="tripData && tripData.private" class="card-text"><span class="font-weight-bold">Status:</span> Private</p>
    </div>
    <ul *ngIf="tripData" class="list-group list-group-flush w-100">
      <li *ngIf="tripData.places.length ===1 && tripData.places[0] === ''" class="list-group-item">No places to visit added</li>
      <li *ngFor="let place of tripData.places" class="list-group-item">{{place}}</li>
    </ul>
    <div  class="card-body text-center">
      <button class="btn btn-success card-link" [disabled]="!tripData" (click)="clickHandler($event)">Looks Good!</button>
    </div>
  </div>
</ng-template>

<!-- Card template for the create preview -->
<ng-template #withFormData>
  <img *ngIf="!formData.image" src="../../../../assets/images/card-landscape.jpg" alt="Card image cap">
  <img *ngIf="formData.image" src="{{formData.image}}" alt="Card image cap">
  <div class="wrapper">
    <div class="card-body">
      <h5 class="card-title">{{formData.destination}}</h5>
      <p class="card-text"><span class="font-italic">Start date:</span> {{formData.startDate | date: 'MM/dd/yyyy'}}</p>
      <p class="card-text"><span class="font-italic">End date:</span> {{formData.endDate | date: 'MM/dd/yyyy'}}</p>
      <p *ngIf="!formData.private" class="card-text"><span class="font-weight-bold">Status:</span> Public</p>
      <p *ngIf="formData.private" class="card-text"><span class="font-weight-bold">Status:</span> Private</p>
    </div>
    <ul class="list-group list-group-flush w-100">
      <li *ngIf="formData.places.length ===1 && formData.places[0] === ''" class="list-group-item">No places to visit added</li>
      <li *ngFor="let place of formData.places" class="list-group-item">{{place}}</li>
    </ul>
    <div  class="card-body text-center">
      <button class="btn btn-success card-link" (click)="clickHandler($event)">Looks Good!</button>
    </div>
  </div>
</ng-template>

<!-- Card template main card view -->
<ng-template #mainCard>
    <div class="card" [ngClass]="{'flex-row':fromDetails}">
        <ng-container *ngIf="fromDetails; then detailsImage else listItemImage"></ng-container>
        <div class="wrapper">
            <div class="card-body">
                <h5 class="card-title">{{tripData.destination}}</h5>
                <p class="card-text"><span class="font-italic">Start date: </span>{{tripData.startDate | date: 'MM/dd/yyyy'}}</p>
                <p  class="card-text"><span class="font-italic">End date: </span> {{tripData.endDate | date: 'MM/dd/yyyy'}}</p>
                <p *ngIf="!tripData.private" class="card-text"><span class="font-weight-bold">Status:</span> Public</p>
                <p *ngIf="tripData.private" class="card-text"><span class="font-weight-bold">Status:</span> Private</p>
              </div>
              <ul  *ngIf="!fromList" class="list-group list-group-flush w-100">
                  <li class="list-group-item font-weight-bold">Places to visit:</li>
                  <li *ngIf="tripData.places.length === 0" class="list-group-item">No places to visit added</li>
                  <li *ngFor="let place of tripData.places" class="list-group-item">{{place}}</li>
              </ul>
              <div  [ngClass]="{'pt-0':fromList}" class="card-body text-center">
                <button *ngIf="fromList" class="btn btn-primary card-link" [routerLink]="['/trip/details', tripData.id]">Details</button>
                <ng-container *ngIf="isAdmin; then adminButtons else userButtons"></ng-container>
              </div>
        </div>
      </div>
</ng-template>

  <!-- Image template for details card -->
  <ng-template #detailsImage>
      <div class="card-header">
          <img *ngIf="!tripData.image" src="../../../../assets/images/card-landscape.jpg" alt="Card image cap">
          <img *ngIf="tripData.image" src="{{tripData.image}}" alt="Card image cap">
      </div>
  </ng-template>

  <!-- Image template for list card -->
  <ng-template #listItemImage>
      <img *ngIf="!tripData.image" src="../../../../assets/images/card-landscape.jpg" alt="Card image cap">
      <img *ngIf="tripData.image" src="{{tripData.image}}" alt="Card image cap">
  </ng-template>

<!-- Buttons templates for the details card -->
<ng-template #adminButtons>
    <button *ngIf="!fromList" class="btn btn-primary card-link" [routerLink]="['/featured/create', tripData.id]">Make Featured</button>
</ng-template>

<ng-template #userButtons>
    <button *ngIf="!fromList" class="btn btn-primary card-link" [routerLink]="['/trip/edit', tripData.id]">Edit</button>
    <button *ngIf="!fromList" class="btn btn-danger card-link" (click)="clickHandler($event)">Delete</button>
</ng-template>